---
layout: default
---

<div class="post">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ page.title }}</h2>
                        <hr class="star-primary">
                        <img src="../../../../img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">

                        <ul class="list-inline item-details">
                            <li>Date:
                                <strong>{{ page.project-date }}</strong>
                            </li>
                            <li>Category:
                                <strong>{{ page.category }}</strong>
                            </li>
                        </ul>
                        <div class="modal-content-internal">
                            <p>{{ content }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

